<html>

<head>
  <title>PeakList</title>
  <meta name="version" content="1.0.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="img/icon.png">
  <meta property="og:title" content="PeakList Climb Tracker" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://beatobongco.com/PeakList/" />
  <meta property="og:image" content="http://beatobongco.com/PeakList/img/og_image.png" />
  <meta property="og:description"
    content="A minimalist app that records data about the routes you send and progressively recommends grades to try next." />
  <meta name="description"
    content="A minimalist app that records data about the routes you send and progressively recommends grades to try next.">
  <link rel="stylesheet" type="text/css" href="css/libs/gridforms/1.0.10/gridforms.min.css">
  <link href='css/fonts.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <div id="tickList" v-cloak>
    <div v-if="mode === 'landing' || mode === 'login'" class="landing">
      <div class="logo-container">
        <div class="logo">
          <div class="shape one"></div>
          <div class="shape two"></div>
          <div class="shape three"></div>
          <div class="shape four"></div>
        </div>
        <h1>PeakList</h1>
      </div>
      <div v-if="mode === 'landing'">
        <button v-on:click="changeMode('login')">Login</button>
        <button v-on:click="changeMode('setup')">Signup</button>
      </div>
      <form v-if="mode === 'login'" id="loginForm" class="grid-form">
        <fieldset>
          <legend></legend>
          <div data-row-span="2">
            <div data-field-span="1">
              <label for="username">Email</label>
              <input type="text" name="username" id="username">
            </div>
            <div data-field-span="1">
              <label for="password">Password</label>
              <input type="password" name="password" id="password">
            </div>
          </div>
        </fieldset>
        <button type="submit" v-on:click="doLogin($event)">Login</button>
        <button v-on:click="changeMode('landing', $event)">Back</button>
      </form>
    </div>
    <form v-if="mode === 'setup'" id="setupForm" class="grid-form">
      <fieldset>
        <legend>PeakList Setup</legend>
        <div data-row-span="3">
          <div data-field-span="1">
            <label for="username">Email</label>
            <input type="text" name="username" id="username">
          </div>
          <div data-field-span="1">
            <label for="password">Choose a password</label>
            <input type="text" name="password" id="password">
          </div>
          <div data-field-span="1">
            <label for="gradingSystem">Choose grading system</label>
            <select v-on:change="onGradeChange" name="gradingSystem" id="gradingSystem">
              <option value="french">French</option>
              <option value="yds">Yosemite Decimal System</option>
            </select>
          </div>
        </div>
        <div data-row-span="2">
          <div data-field-span="1">
            <label for="onsightLevel">What is your current onsight level?</label>
            <select name="onsightLevel" id="onsightLevel">
              <option v-for="grade in grades" value="{{grade}}">{{grade}}</option>
            </select>
          </div>
          <div data-field-span="1">
            <label for="boulderOnsight">How about for bouldering?</label>
            <select name="boulderOnsight" id="boulderOnsight">
              <option v-for="grade in boulderGrades" value="{{grade}}">{{grade}}</option>
            </select>
          </div>
        </div>
      </fieldset>
      <button type="submit" v-on:click="doSetup($event)">Signup</button>
      <button v-on:click="changeMode('landing', $event)">Back</button>
    </form>
    <div v-if="mode === 'view'" class="record-container">
      <p class="conn-stat">
        <span>{{ email }} | </span>
        <span>Status:</span>
        <span v-if="isConnected" class="online">online</span>
        <span v-if="!isConnected" class="offline">offline</span>
      </p>
      <div class="nav-bar">
        <a v-on:click="changeClimbType($event, 'route')" :class="{btn: true, selected: climbType === 'route'}"
          href="#">Route</a>
        <a v-on:click="changeClimbType($event, 'boulder')" :class="{btn: true, selected: climbType === 'boulder'}"
          href="#">Boulder</a>
        <a v-on:click="logout($event)" class="btn logout" href="#">Logout</a>
      </div>
      <p class="mid title">{{climbType.toUpperCase()}} PYRAMID</p>
      <div class="pyramid-container">
        <div class="pyramid outline">
          <div class="shape one"></div>
          <div class="shape two"></div>
          <div class="shape three"></div>
          <div class="shape four"></div>
        </div>
        <div class="pyramid main">
          <div class="grade top">{{requirements[0].grade}}</div>
          <div class="grade top-middle">{{requirements[1].grade}}</div>
          <div class="grade bottom-middle">{{requirements[2].grade}}</div>
          <div class="grade bottom">{{requirements[3].grade}}</div>
          <div class="shape one" v-if="requirements[0].completed >= 1"></div>
          <div class="shape one" v-else style="visibility: hidden"></div>
          <div class="shape two" v-if="requirements[1].completed >= 1"
            style="width: {{(requirements[1].completed / 2) * (pyramidSides * 2)}}px"></div>
          <div class="shape two" v-else style="visibility: hidden"></div>
          <div class="shape three" v-if="requirements[2].completed >= 1"
            style="width: {{(requirements[2].completed / 4) * (pyramidSides * 4)}}px"></div>
          <div class="shape three" v-else style="visibility: hidden"></div>
          <div class="shape four" v-if="requirements[3].completed >= 1"
            style="width: {{(requirements[3].completed / 8) * (pyramidSides * 6)}}px"></div>
          <div class="shape four" v-else style="visibility: hidden"></div>
        </div>
      </div>
      <table>
        <tr v-for="requirement in requirements">
          <td>{{requirement.grade}}</td>
          <td class="progress">{{requirement.completed || 0}} / {{requirement.required}}</td>
        </tr>
      </table>
      <div>
        <div class="grid-form">
          <fieldset>
            <legend>Stats (strive for balance)</legend>
            <div data-row-span="1">
              <div data-field-span="1">
                <label for="gradeStatSelector">Select a grade</label>
                <select id="gradeStatSelector" v-on:change="onGradeFilterChange($event)">
                  <option value="">All grades</option>
                  <option v-for="grade in filterableGrades" value="{{grade}}">{{grade}}</option>
                </select>
              </div>
            </div>
          </fieldset>
        </div>
        <p class="mid">ANGLE</p>
        <div class="canvas-container">
          <canvas id="angleChart"></canvas>
        </div>
        <p class="mid">HOLD TYPE</p>
        <div class="canvas-container">
          <canvas id="holdTypeChart"></canvas>
        </div>
        <p class="mid">WORK</p>
        <div class="canvas-container">
          <canvas id="routeWorkChart"></canvas>
        </div>
        <p class="mid">{{routes.length}} ROUTES SENT</p>
        <table>
          <tr v-for="route in routes">
            <td>{{route.date}}</td>
            <td class="progress">{{route.routeName}}</td>
            <td>{{route.grade}}</td>
            <td>{{route.attempts === "1" ? "FLSH" : `RDPT${route.attempts ? ": " + route.attempts : ""}`}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div v-if="mode === 'record'" class="record-container">
      <button class="btn-close" @click="changeMode('view')">&#10006;</button>
      <form id="sendRecorder" class="grid-form">
        <fieldset>
          <legend>Log a {{climbType}}</legend>
          <div data-row-span="4">
            <div data-field-span="1">
              <label for="grade">Grade</label>
              <select name="grade" id="grade" v-model="selectedGrade">
                <option v-for="grade in grades" v-bind:value="grade" :selected="grade === selectedGrade">{{grade}}
                </option>
              </select>
            </div>
            <div data-field-span="1">
              <label for="attempts">Attempts</label>
              <input type="number" name="attempts" id="attempts" min="1" value="1">
            </div>
            <div data-field-span="1">
              <label for="angle">Prominent angle</label>
              <select name="angle" id="angle">
                <option value="">Select angle</option>
                <option v-for="angle in angles" value="{{ angle.id}}">{{{angle.displayName}}}</option>
              </select>
            </div>
            <div data-field-span="1">
              <label for="holdType">Prominent hold type</label>
              <select name="holdType" id="holdType">
                <option value="">Select hold type</option>
                <option v-for="hold in holdTypes" value="{{ hold.id}}">{{{hold.displayName}}}</option>
              </select>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Extra data (optional)</legend>
          <div data-row-span="1">
            <div data-field-span="1">
              <label for="routeName">Route name</label>
              <input name="routeName" id="routeName" type="text">
            </div>
          </div>
          <div data-row-span="2">
            <div data-field-span="1">
              <label for="technique">Prominent technique</label>
              <select name="technique" id="technique">
                <option value="">Select technique</option>
                <option value="footwork">Footwork</option>
                <option value="balance">Balance</option>
                <option value="bodyPositioning">Body Positioning</option>
                <option value="flagging">Flagging</option>
                <option value="dynamicMovements">Dynamic Movements</option>
                <option value="staticMovements">Static Movements</option>
                <option value="resting">Resting</option>
                <option value="lockOffStrength">Lock-Off Strength</option>
                <option value="endurance">Endurance</option>
                <option value="stamina">Stamina</option>
                <option value="heelToeHooks">Heel / Toe Hooks</option>
                <option value="dropKnee">Drop Knee</option>
                <option value="mantle">Mantle</option>
                <option value="stemming">Stemming</option>
              </select>
            </div>
            <div data-field-span="1">
              <label for="cruxLocation">Crux location</label>
              <select name="cruxLocation" id="cruxLocation">
                <option value="">Select location</option>
                <option value="beginning">Beginning</option>
                <option value="middle">Middle</option>
                <option value="end">End</option>
              </select>
            </div>
          </div>
          <div data-row-span="3">
            <div data-field-span="1">
              <label for="indoorOrOutdoor">Indoor or outdoor</label>
              <select name="indoorOrOutdoor" id="indoorOrOutdoor">
                <option value="">Select</option>
                <option value="indoor">Indoor</option>
                <option value="outdoor">Outdoor</option>
              </select>
            </div>
            <div data-field-span="1">
              <label for="topRopeOrLead">Top rope or lead</label>
              <select name="topRopeOrLead" id="topRopeOrLead">
                <option value="">Select</option>
                <option value="toprope">Top rope</option>
                <option value="lead">Lead</option>
              </select>
            </div>
            <div data-field-span="1">
              <label for="routeLength">Route length</label>
              <select name="routeLength" id="routeLength">
                <option value="">Select length</option>
                <option value="short">Short (B: &lt;5 moves, R: &lt;15 meters)</option>
                <option value="medium">Medium (B: 6-15 moves, R: 15-35 meters)</option>
                <option value="long">Long (B: &gt;15 moves ,R: &gt;35 meters)</option>
              </select>
            </div>
          </div>
          <div data-row-span="1">
            <div data-field-span="1">
              <label for="comments">Comments</label>
              <textarea name="comments" id="comments"></textarea>
            </div>
          </div>
        </fieldset>
        <button v-on:click="recordSend">Record</button>
      </form>
    </div>
    <div v-if="mode === 'loading'" class="loading-container">
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
      <h2>LOADING...</h2>
    </div>
    <div v-if="mode === 'view'" class="fab" @click="recordMode">+</div>
  </div>
  <script type="text/javascript" src="js/libs/Chart.js/2.1.6/Chart.min.js"></script>
  <script type="text/javascript" src="js/libs/fastclick/1.0.6/fastclick.min.js"></script>
  <script type="text/javascript" src="js/libs/firebasejs/3.2.1/firebase.js"></script>
  <script type="text/javascript" src="js/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/libs/lodash.js/4.14.0/lodash.min.js"></script>
  <script type="text/javascript" src="js/libs/taffydb/2.7.2/taffy-min.js"></script>
  <script type="text/javascript" src="js/libs/vue/1.0.26/vue.min.js"></script>
  <script type="text/javascript" src="js/service-worker-registration.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>

</html>