<html>
<head>
  <title>PeakList Climb Tracker - beatobongco.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="PeakList Climb Tracker" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://beatobongco.com/PeakList/" />
  <meta property="og:image" content="http://beatobongco.com/PeakList/img/og_image.png" />
  <meta property="og:description" content="A minimalist app that records data about the routes you send and progressively recommends grades to try next." />
  <meta name="description" content="A minimalist app that records data about the routes you send and progressively recommends grades to try next.">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/gridforms/1.0.10/gridforms.min.css">
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans:700,400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div id="tickList" v-cloak>
    <div v-if="mode === 'landing' || mode === 'login'"
      class="landing">
      <div class="logo-container">
        <div class="logo">
          <div class="shape one"></div>
          <div class="shape two"></div>
          <div class="shape three"></div>
          <div class="shape four"></div>
        </div>
        <h1>PeakList</h1>
      </div>
      <div v-if="mode === 'landing'">
        <button v-on:click="changeMode('login')">Login</button>
        <button v-on:click="changeMode('setup')">Signup</button>
      </div>
      <form
        v-if="mode === 'login'"
        id="loginForm"
        class="grid-form"
        >
        <fieldset>
          <legend></legend>
          <div data-row-span="2">
            <div data-field-span="1">
              <label>Email</label>
              <input type="text" name="username">
            </div>
            <div data-field-span="1">
              <label>Password</label>
              <input type="password" name="password">
            </div>
          </div>
        </fieldset>
        <button type="submit" v-on:click="doLogin">Login</button>
        <button v-on:click="changeMode('landing', $event)">Back</button>
      </form>
    </div>
    <form
      v-if="mode === 'setup'"
      id="setupForm"
      class="grid-form"
      >
      <fieldset>
        <legend>PeakList Setup</legend>
        <div data-row-span="3">
          <div data-field-span="1">
            <label>Email</label>
            <input type="text" name="username">
          </div>
          <div data-field-span="1">
            <label>Choose a password</label>
            <input type="text" name="password">
          </div>
          <div data-field-span="1">
            <label>Choose grading system</label>
            <select v-on:change="onGradeChange" name="gradingSystem">
              <option value="french">French</option>
              <option value="yds">Yosemite Decimal System</option>
            </select>
          </div>
        </div>
        <div data-row-span="1">
          <div data-field-span="1">
            <label>What is your current onsight level?</label>
            <select name="onsightLevel">
              <option v-for="grade in grades" value="{{grade}}">{{grade}}</option>
            </select>
          </div>
        </div>
      </fieldset>
      <button type="submit" v-on:click="doSetup">Signup</button>
      <button v-on:click="changeMode('landing', $event)">Back</button>
    </form>
    <form
      v-if="mode === 'record'"
      id="sendRecorder"
      class="grid-form">
      <fieldset>
        <legend>Send a route</legend>
        <div data-row-span="1">
          <div data-field-span="1">
            <label>Route name</label>
            <input name="routeName" type="text">
          </div>
        </div>
        <div data-row-span="4">
          <div data-field-span="1">
            <label>Grade</label>
            <select name="grade">
              <option v-for="grade in grades" value="{{grade}}">{{grade}}</option>
            </select>
          </div>
          <div data-field-span="1">
            <label>Route work</label>
            <select name="routeWork">
              <option value="redpoint">Redpoint</option>
              <option value="flash">Flash</option>
              <option value="onsight">On-sight</option>
            </select>
          </div>
          <div data-field-span="1">
            <label>Indoor or outdoor</label>
            <select name="indoorOrOutdoor">
              <option value="indoor">Indoor</option>
              <option value="outdoor">Outdoor</option>
            </select>
          </div>
          <div data-field-span="1">
            <label>Top rope or lead</label>
            <select name="topRopeOrLead">
              <option value="toprope">Top rope</option>
              <option value="lead">Lead</option>
            </select>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Optional route data</legend>
        <div data-row-span="4">
          <div data-field-span="1">
            <label>Prominent hold type</label>
            <select name="holdType">
              <option value="">Select type</option>
              <option value="crimp">Crimp</option>
              <option value="jib">Jib</option>
              <option value="jug">Jug</option>
              <option value="mono">Mono</option>
              <option value="pinch">Pinch</option>
              <option value="pocket">Pocket</option>
              <option value="sidepull">Sidepull</option>
              <option value="sloper">Sloper</option>
            </select>
          </div>
          <div data-field-span="1">
            <label>Route length</label>
            <select name="routeLength">
              <option value="">Select length</option>
              <option value="short">Short</option>
              <option value="medium">Medium</option>
              <option value="long">Long</option>
            </select>
          </div>
          <div data-field-span="1">
            <label>Crux location</label>
            <select name="cruxLocation">
              <option value="">Select location</option>
              <option value="beginning">Beginning</option>
              <option value="middle">Middle</option>
              <option value="end">End</option>
            </select>
          </div>
          <div data-field-span="1">
            <label>Prominent angle</label>
            <select name="angle">
              <option value="">Select angle</option>
              <option value="slab">Slab</option>
              <option value="vertical">Vertical</option>
              <option value="slight-overhang">Slight overhang (10-20&deg;)</option>
              <option value="moderate-overhang">Moderate overhang (30-35&deg;)</option>
              <option value="steep-overhang">Steep overhang (~45&deg;)</option>
              <option value="roof">Roof</option>
            </select>
          </div>
        </div>
        <div data-row-span="1">
          <div data-field-span="1">
            <label>Prominent technique</label>
            <select name="technique">
              <option value="">Select technique</option>
              <option value="armbar">Arm bar</option>
              <option value="balance">Balance</option>
              <option value="backstep">Back step</option>
              <option value="bump">Bump</option>
              <option value="campus">Campus</option>
              <option value="chestjam">Chest Jam</option>
              <option value="chickenwing">Chicken Wing</option>
              <option value="compression">Compression</option>
              <option value="deadpoint">Deadpoint</option>
              <option value="dropknee">Drop Knee</option>
              <option value="dyno">Dyno</option>
              <option value="figurefour">Figure Four</option>
              <option value="fistjam">Fist Jam</option>
              <option value="flag">Flag</option>
              <option value="footjam">Foot Jam</option>
              <option value="footwork">Footwork</option>
              <option value="gaston">Gaston</option>
              <option value="handjam">Hand Jam</option>
              <option value="heelhook">Heel Hook</option>
              <option value="heeltoe">Heel-toe Cam</option>
              <option value="lockoff">Lock-off</option>
              <option value="mantle">Mantle</option>
              <option value="reach">Reach</option>
              <option value="rockover">Rockover</option>
              <option value="smear">Smear</option>
              <option value="stem">Stem</option>
              <option value="toehook">Toe Hook</option>
            </select>
          </div>
        </div>
        <div data-row-span="1">
          <div data-field-span="1">
            <label>Comments</label>
            <textarea name="comments"></textarea>
          </div>
        </div>
      </fieldset>
      <button v-on:click="recordSend">Record</button>
    </form>
    <table v-if="mode === 'record'">
      <tr v-for="requirement in requirements">
        <td>{{requirement.grade}}</td>
        <td class="progress">{{requirement.completed || 0}} / {{requirement.required}}</li></td>
      </tr>
    </table>
    <div class="pyramid outline" v-if="mode === 'record'">
      <div class="shape one"></div>
      <div class="shape two"></div>
      <div class="shape three"></div>
      <div class="shape four"></div>
    </div>
    <div class="pyramid main" v-if="mode === 'record'">
      <div class="grade top">{{requirements[0].grade}}</div>
      <div class="grade top-middle">{{requirements[1].grade}}</div>
      <div class="grade bottom-middle">{{requirements[2].grade}}</div>
      <div class="grade bottom">{{requirements[3].grade}}</div>
      <div class="shape one"
        v-if="requirements[0].completed >= 1"></div>
      <div class="shape one" v-else style="visibility: hidden"></div>
      <div class="shape two"
        v-if="requirements[1].completed >= 1"
        style="width: {{(requirements[1].completed / 2) * (pyramidSides * 2)}}px"></div>
      <div class="shape two" v-else style="visibility: hidden"></div>
      <div class="shape three"
        v-if="requirements[2].completed >= 1"
        style="width: {{(requirements[2].completed / 4) * (pyramidSides * 4)}}px"></div>
      <div class="shape three" v-else style="visibility: hidden"></div>
      <div class="shape four"
        v-if="requirements[3].completed >= 1"
        style="width: {{(requirements[3].completed / 8) * (pyramidSides * 6)}}px"></div>
      <div class="shape four" v-else style="visibility: hidden"></div>
    </div>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.0/lodash.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/taffydb/2.7.2/taffy-min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
  <script type="text/javascript">
    //initialize fastclick
    if ('addEventListener' in document) {
      document.addEventListener('DOMContentLoaded', function() {
        FastClick.attach(document.body);
      }, false);
    }

    function debug__logout() {
      firebase.auth().signOut()
    }

    // window.onbeforeunload = function(e) {
    //   var dialogText = "Are you sure you want to quit?"
    //   e.returnValue = dialogText
    //   return dialogText
    // }

    function generateYds() {
      var g = ["5.8", "5.9"]
      var limit = 14
      var current = 10
      var letters = ['a', 'b', 'c', 'd']
      while (current !== limit + 1) {
        for (var i = 0; i < letters.length; i++) {
          g.push("5." + current + letters[i])
        }
        current++
      }
      return g
    }

    function generateFrench() {
      var g = ["4", "5"]
      var limit = 8
      var current = 6
      var letters = ['a', 'b', 'c']
      while (current !== limit + 1) {
        for (var i = 0; i < letters.length; i++) {
          g.push(current + letters[i])
          g.push(current + letters[i] + "+")
        }
        current++
      }
      return g
    }

    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCKV-7rSTj_oCjcmieX6QwYcUDo3J7eElA",
      authDomain: "ticklist-fce5a.firebaseapp.com",
      databaseURL: "https://ticklist-fce5a.firebaseio.com",
      storageBucket: "",
    }

    firebase.initializeApp(config)

    var database = firebase.database()

    var app = new Vue({
      el: '#tickList',
      data: {
        justRegistered: false,
        userId: null,
        pyramidSides: 38,
        mode: "landing",
        grades: [],
        requirements: [],
        db: null,
      },
      watch: {
        mode: function(value) {
          if (value === "record") {
            app.checkPyramidComplete()
          }
        }
      },
      ready: function() {
        this.db = TAFFY()
        this.grades = generateFrench()
      },
      methods: {
        changeMode: function(mode, e) {
          if (e) {
            e.preventDefault()
          }
          this.mode = mode
        },
        doLogin: function(e) {
          e.preventDefault()
          firebase.auth().signInWithEmailAndPassword(e.target.form.username.value, e.target.form.password.value).catch(function(error) {
            console.log(error)
          })
        },
        onGradeChange: function(e) {
          if(e.target.value === "yds") {
            this.grades = generateYds()
          }
          else {
            this.grades = generateFrench()
          }
        },
        calculatePyramid: function(onSightLevel) {
          var requirements = []
          var reps = 1
          for (var i = 4; i > 0; i--) {
            //start at top of pyramid
            var base = this.grades[this.grades.indexOf(onSightLevel) + i]
            requirements.push({grade: base, required: reps})
            reps = reps * 2
          }
          return requirements
        },
        doBackup: function() {
          firebase.database().ref("users/" + app.userId).set({
            gradingSystem: app.gradingSystem,
            requirements: app.requirements,
            data: app.db().get()
          })
        },
        doRestore: function() {
          firebase.database().ref("users/" + app.userId).on('value', function(snapshot) {
            var v = snapshot.val()
            app.gradingSystem = v.gradingSystem
            app.requirements = v.requirements
            app.db = TAFFY(v.data)
            if (app.gradingSystem === "yds") {
              app.grades = generateYds()
            }
            else {
              app.grades = generateFrench()
            }
          })
        },
        doSetup: function(e) {
          //todo: load stuff
          e.preventDefault()
          firebase.auth().createUserWithEmailAndPassword(e.target.form.username.value, e.target.form.password.value).catch(function(error) {
            alert(error.message)
          })
          var onSightLevel = e.target.form.onsightLevel.value
          app.gradingSystem = e.target.form.gradingSystem.value
          app.requirements = app.calculatePyramid(onSightLevel)
          app.justRegistered = true
        },
        checkPyramidComplete: function() {
          var fulfilled = true
          for (var i = 0; i < this.requirements.length; i++) {
            var r = this.requirements[i]
            var numComplete = this.db({grade: r.grade}).count()

            r.completed = numComplete
            this.requirements.$set(i, _.clone(r))
            if (numComplete < r.required) {
              fulfilled = false
            }
          }
          return fulfilled
        },
        upgradePyramid: function() {
          //find highest grade in req
          var r = this.requirements
          var g = this.grades

          //New tip
          this.requirements.unshift({
            grade: g[g.indexOf(r[0].grade) + 1],
            required: 1
          })
          this.requirements.pop()

          for (var i = 1; i <= 3; i++) {
            var increment = i === 3 ? 4 : i
            this.requirements[i].required = this.requirements[i].required + increment
          }

        },
        recordSend: function(e) {
          e.preventDefault()
          var data = $('#sendRecorder').serializeArray().reduce(
            function(obj, item) {
              obj[item.name] = item.value
              return obj
            }, {})

          this.db.insert(data)

          if(app.checkPyramidComplete()) {
            app.upgradePyramid()
          }

          app.doBackup()
          $('#sendRecorder')[0].reset()
        }
      }
    })

    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        app.mode = "record"
        app.userId = user.uid
        if (app.justRegistered) {
          app.doBackup()
        }
        else {
          app.doRestore()
        }
      }
      else {
        app.mode = "landing"
      }
    })
  </script>
</body>
</html>
