[v-cloak] {
  display: none;
}

#tickList {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}

body,
input,
textarea,
select {
  font-family: 'Fira Sans', sans-serif;
}

fieldset {
  margin-bottom: 25px !important;
}

button {
  cursor: pointer;
  width: 100%;
  background-color: #fff;
  border: 3px solid black;
  height: 50px;
  font-size: 22px;
  font-weight: 700;
  &:hover {
    opacity: .7;
  }
}

table {
  margin: 25px auto;
  .progress {
    padding-left: 15px;
  }
}

#setupForm {
  button {
    margin: 10px auto;
  }
}

.landing {
  .logo-container {
    text-align: center;
    margin: 25px 0;
    h1 {
      margin: 0;
      font-weight: 300;
      text-align: center;
    }
    @logo-bottom: 15px;
    @logo-sides: 10px;
    .logo {
      position: relative;
      .shape {
        margin: auto;
        height: 0;
        border-left: @logo-sides solid transparent;
        border-right: @logo-sides solid transparent;
        border-bottom: @logo-bottom solid;
        &.one {
          width: 0;
          border-bottom-color: #0face1;
        }
        &.two {
          border-bottom-color: #ef5728;
          width: @logo-sides * 2;
        }
        &.three {
          border-bottom-color: #d2d1b3;
          width: @logo-sides * 4;
        }
        &.four {
          border-bottom-color: #363731;
          width: @logo-sides * 6;
        }
      }
    }
  }
  button {
    margin: 10px auto;
  }
}

@pyramid-bottom: 48px;
@pyramid-sides: 38px;
.pyramid {
  &.main {
    margin: 25px 0;
    position: relative;
    .shape {
      margin: auto;
      height: 0;
      border-left: @pyramid-sides solid transparent;
      border-right: @pyramid-sides solid transparent;
      border-bottom: @pyramid-bottom solid;
      z-index: 100;
      &:hover {
        opacity: .8;
      }
      &.one {
        width: 0;
        border-bottom-color: #0face1;
      }
      &.two {
        border-bottom-color: #ef5728;
        width: @pyramid-sides * 2;
      }
      &.three {
        border-bottom-color: #d2d1b3;
        width: @pyramid-sides * 4;
      }
      &.four {
        border-bottom-color: #363731;
        width: @pyramid-sides * 6;
      }
    }
    .grade {
      color: #fff;
      z-index: 101;
      position: absolute;
      left: 50%;
      margin-left: -10px;
      &.top {
        top: 12%;
      }
      &.top-middle {
        top: 33%;
      }
      &.bottom-middle {
        top: 58%;
      }
      &.bottom {
        top: 83%;
        //color: #bdc3c7;
      }
    }
  }
  &.outline {
    position: absolute;
    width: 100%;
    margin: 25px auto;
    z-index: 0;
    bottom: -25px;
    .shape {
      margin: auto;
      height: 0;
      border-left: @pyramid-sides solid transparent;
      border-right: @pyramid-sides solid transparent;
      border-bottom: @pyramid-bottom solid black;
      z-index: 99;
      &:hover {
        opacity: .8;
      }
      &.one {
        width: 0;
      }
      &.two {
        width: @pyramid-sides * 2;
      }
      &.three {
        width: @pyramid-sides * 4;
      }
      &.four {
        width: @pyramid-sides * 6;
      }
    }
  }
}
