[v-cloak] {
  display: none;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  overflow-x: hidden;
}

#tickList {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

body,
input,
textarea,
select {
  font-family: 'Fira Sans', sans-serif;
}

fieldset {
  margin-bottom: 25px !important;
}

button {
  cursor: pointer;
  width: 100%;
  background-color: #fff;
  border: 3px solid black;
  height: 50px;
  font-size: 22px;
  font-weight: 700;
  &:hover {
    opacity: .7;
  }
}

table {
  margin: 25px auto;
  .progress {
    padding-left: 15px;
  }
}

h3 {
  text-align: center;
}

.canvas-container {
  max-width: 500px;
  margin: auto;
}

#setupForm {
  button {
    margin: 10px auto;
  }
}

.landing {
  .logo-container {
    text-align: center;
    margin: 25px 0;
    h1 {
      margin: 0;
      font-weight: 300;
      text-align: center;
    }
    @logo-bottom: 15px;
    @logo-sides: 10px;
    .logo {
      position: relative;
      .shape {
        margin: auto;
        height: 0;
        border-left: @logo-sides solid transparent;
        border-right: @logo-sides solid transparent;
        border-bottom: @logo-bottom solid;
        &.one {
          width: 0;
          border-bottom-color: #0face1;
        }
        &.two {
          border-bottom-color: #ef5728;
          width: @logo-sides * 2;
        }
        &.three {
          border-bottom-color: #d2d1b3;
          width: @logo-sides * 4;
        }
        &.four {
          border-bottom-color: #363731;
          width: @logo-sides * 6;
        }
      }
    }
  }
  button {
    margin: 10px auto;
  }
}

.conn-stat {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  .offline {
    color: #c0392b;
  }
  .online {
    color: #2cc36b;
  }
}

.nav-bar {
  margin-bottom: 15px;
  .btn {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    width: 75px;
    text-align: center;
    padding: 5px 0;
    display: inline-block;
  }
  .logout {
    float: right;
  }
}


.mid {
  text-align: center;
  font-weight: 300;
  &.title {
    font-weight: 600;
  }
}

.pyramid-container {
  position: relative;
}

@pyramid-bottom: 48px;
@pyramid-sides: 38px;
.pyramid {
  &.main {
    margin: 25px 0;
    position: relative;
    .shape {
      margin: auto;
      height: 0;
      border-left: @pyramid-sides solid transparent;
      border-right: @pyramid-sides solid transparent;
      border-bottom: @pyramid-bottom solid;
      z-index: 100;
      max-width: 228px;
      &:hover {
        opacity: .8;
      }
      &.one {
        width: 0;
        border-bottom-color: #0face1;
      }
      &.two {
        border-bottom-color: #ef5728;
        width: @pyramid-sides * 2;
      }
      &.three {
        border-bottom-color: #d2d1b3;
        width: @pyramid-sides * 4;
      }
      &.four {
        border-bottom-color: #363731;
        width: @pyramid-sides * 6;
      }
    }
    .grade {
      color: #fff;
      z-index: 101;
      position: absolute;
      left: 50%;
      margin-left: -10px;
      &.top {
        top: 12%;
      }
      &.top-middle {
        top: 33%;
      }
      &.bottom-middle {
        top: 58%;
      }
      &.bottom {
        top: 83%;
        //color: #bdc3c7;
      }
    }
  }
  &.outline {
    position: absolute;
    width: 100%;
    margin: 25px auto;
    z-index: 0;
    bottom: -25px;
    .shape {
      margin: auto;
      height: 0;
      border-left: @pyramid-sides solid transparent;
      border-right: @pyramid-sides solid transparent;
      border-bottom: @pyramid-bottom solid black;
      z-index: 99;
      &:hover {
        opacity: .8;
      }
      &.one {
        width: 0;
      }
      &.two {
        width: @pyramid-sides * 2;
      }
      &.three {
        width: @pyramid-sides * 4;
      }
      &.four {
        width: @pyramid-sides * 6;
      }
    }
  }
}

.loading-container {
  margin: 35px 0;
  h2 {
    margin-top: 25px;
    font-weight: 300;
    text-align: center;
  }
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube1 {
  &:before {
    background-color: #0face1;
  }
}
.sk-folding-cube .sk-cube2 {
  &:before {
    background-color: #ef5728;
  }
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  &:before {
    background-color: #d2d1b3;
  }
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  &:before {
    background-color: #363731;
  }
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
